#login-form{
    width: 400px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 2px rgb(143, 142, 142),0px 0px 1px rgb(143, 142, 142);
    z-index: 2;
}
#login-form .btn{
    width: 100%;
    background-color: #2F9F83;
    color: white;
    box-shadow: 0px 0px 2px #2F9F83;
}

#login-form .btn:hover{
    opacity: 0.9 !important;
    background-color: #2F9F83 !important;
}

.header{
    font-size: 4.2rem;
}
#usuario{
    border-color: #2DA189 !important;
}

#clave{
    border-color: #2DA189 !important ;
}
#usuario-icon{
    border-color: #2DA189 !important ;
    background-color: #2DA189;
}
#clave-icon{
    border-color: #2DA189 !important ;
    background-color: #2DA189;
}

.section-container{
    height: 100%;
    background-color: black;
    position: relative;
   
}


#usuario:hover,#usuario:active,#usuario:focus{
    box-shadow: none !important;
}
#clave:hover,#clave:active,#clave:focus{
    box-shadow: none !important;
}


.login-container{
    height: 100%;
    position: relative;
    background-color: whitesmoke;
    box-shadow: 0px 0px 3px rgb(105, 103, 103);

}

.ad-container{
    background-image: url(../Imagenes/pexels-anna-tarazevich-5910956.jpg);
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}


.black-container{
    background-color: rgba(0, 0, 0, 0.048);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.message{
    position: absolute !important;
    width: 50%;
    margin: 1rem;
    font-size: 1.6rem;
}

svg{
    position: absolute;
    bottom: 0;
    display: none;
}
/*rgb(38, 165, 127*/